<app-header-login></app-header-login>



<div fxLayout="column container">

	<form (ngSubmit)="handleSubmit()" [formGroup]="userForm" class="formField_block formField_back--color" fxLayout="column" fxLayoutAlign="center none">
		<h1>Formulaire d'inscription</h1>

		<mat-form-field>
			<input matInput placeholder="Entre ton identifiant" [formControl]="identifiantCtrl">
			<mat-error *ngIf="identifiantCtrl.dirty && identifiantCtrl.invalid">{{getErrorMessageIdentifier()}}</mat-error>
		</mat-form-field>

		<mat-form-field >
			<input matInput placeholder="Entre ton password" [type]="hidePassword ? 'password' : 'text'" [formControl]="passwordCtrl">
			<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
			<mat-error *ngIf="passwordCtrl.dirty && passwordCtrl.invalid"  >{{getErrorMessagePassword()}}</mat-error>
		</mat-form-field>
		<mat-form-field >
			<input matInput placeholder="Confrim ton password" [type]="hidePasswordConfirm ? 'password' : 'text'" [formControl]="passwordConfirmCtrl" (input)="onPasswordInput()">
			<mat-icon matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm">{{hidePasswordConfirm ? 'visibility' : 'visibility_off'}}</mat-icon>
			<mat-error *ngIf="passwordConfirmCtrl.invalid && passwordConfirmCtrl.dirty ">Mot de passe incorrect</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Entre ton email"  [formControl]="emailCtrl">
			<mat-error *ngIf="emailCtrl.dirty && emailCtrl.invalid">{{getErrorMessageMail()}} </mat-error>
		</mat-form-field>

		<mat-form-field>
			<mat-select placeholder="Ville" [formControl]="villeCtrl">
				<mat-option>None</mat-option>
				<mat-option *ngFor="let temp of villeList" value="temp.value" >{{temp}}</mat-option>
			</mat-select>
		</mat-form-field>


		<!--  ARTISTE PARTIE  -->



		<mat-checkbox (click)="showAristeCheckBox()">Etes-vous artiste ? </mat-checkbox>

		<mat-form-field *ngIf="showOrHide()">
			<input matInput placeholder="Nom Artiste" [formControl]="nameArtisteCtrl">
			<mat-error *ngIf="nameArtisteCtrl.dirty && nameArtisteCtrl.invalid">{{getErrorMessageNameArtist()}} </mat-error>
		</mat-form-field>

		<mat-form-field *ngIf="showOrHide()">
			<textarea matInput placeholder="Description" [formControl]="descriptionCtrl"></textarea>
			<mat-error *ngIf="descriptionCtrl.dirty && descriptionCtrl.invalid">{{getErrorMessageDescriptionArtiste()}} </mat-error>
		</mat-form-field>

		<div fxLayout="row" fxLayoutAlign="end none">
			<button mat-flat-button class="button--spacing" (click)="navigateToHomePage()">Annuler</button>
			<button mat-flat-button	type="submit" [disabled]="userForm.invalid">Valider</button>
		</div>
	</form>

</div>




