.container{
  width:100vh;
}

.formField-back_color{
  background-color: red;
}

.formField_block{
  width: 50%;
  background-color: #e7e6e6;
  margin: auto;
  padding: 5%;
  border-radius: 25px;
  margin-top:5%;
}

h1{
  margin: auto;
}

.button--spacing{
  margin-right: 2%;
}
