<div class="header-homepage">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>reorder</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div mat-menu-item
      (click)="navigateToHomePage()">
      <mat-icon>account_box</mat-icon>
      <span>Accueil</span>
    </div>
    <div mat-menu-item
      (click)="navigateToEvent()">
      <mat-icon>send</mat-icon>
      <span>Evènnements</span>
    </div>
  </mat-menu>

  <h1>Artistes dans votre département</h1>
  <app-menu-user-settings></app-menu-user-settings>

</div>

<div class="artist-container">
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>

  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
  <mat-card class="artist-info">
    <mat-card-footer class="artist-detail">
      <mat-card-content>
        <h2>NOM ARTISTE</h2>
        <p>description courte</p>

        <div class="notation">
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <i class="material-icons">star_rate</i>
          <p>
            (20 votes)
          </p>
        </div>
      </mat-card-content>

      <mat-card-actions align="end">
        <a href="">
          <i class="material-icons">remove_red_eye</i>VOIR
        </a>
        <a href="">
          <i class="material-icons">calendar_today</i>BOOKER
        </a>
      </mat-card-actions>

    </mat-card-footer>
  </mat-card>
</div>

<router-outlet></router-outlet>
