
/* HEADER */
.header[_ngcontent-c1] {
  max-width: 100vw;
  height: 64px;
  margin-bottom: 80px;
  background-color: #4a4a4a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  color: white;
}

.title[_ngcontent-c1] {
  font-size: 36px;
  padding-right: 280px;
}

/* GENERAL CONTAINER */
.artist-container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ARTIST INFORMATION */
.artist-info {
  width: 25vw;
  height: 25rem;
  display: flex;
  align-items: flex-end;
  margin: 2rem;
  color: white;
  background: url('./../../assets/images/no-image.png') center;
}

.artist-detail {
  background-color: rgba(66, 66, 66, 0.9);
  height: 12rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.artist-detail mat-card-content {
  padding: 20px 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* MODIFICATION CURSOR WHEN ON "VOIR" & "BOOKER" */
mat-card-actions span {
  cursor: pointer;
}

.artist-button {
  display: flex;
  align-items: flex-end;
  padding: 55px 20px;
}

.artist-button span, .artist-button i {
  padding: 5px;
}

/* SYSTEM OF NOTATION */
.notation {
  text-align: center;
  color: #f5a623;
}

.notation i {
  width: 20px;
}

.notation p {
  margin-top: 0;
}
